@import url('./components/registration.css');
@import url('./components/tools.css');
* {
  font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1 1;
}
