@import url('./inputs.css');
.reg {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.reg__showEnter {
  cursor: pointer;
}
.reg__showReg {
  cursor: pointer;
}
.reg__showEnter,
.reg__showReg {
  padding: 6px 12px;
  margin-bottom: -3px;
  float: left;
  z-index: 99;
  min-width: 175px;
  text-align: center;
  border-bottom: 1px solid #3f5062;
}
.reg__activeMode {
  background-color: #fff;
  border: 1px solid #3f5062;
  border-bottom: 3px solid #fff;
  border-radius: 10px 10px 0px 0px;
}
.reg__inf {
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid #3f5062;
  border-top: 1px solid #fff;
  width: 350px;
  max-width: 450px;
  min-height: 320px;
  border-radius: 0px 0px 10px 10px;
}
.inputs {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.inputs__btn {
  width: auto;
  max-width: 150px;
}
.container-registration {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  min-height: 100vh;
}
