.container_tools {
  display: flex;
  min-height: 100%;
  flex-direction: row;
}
.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #3f5062;
  justify-content: space-between;
}
.menu__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu__logo-image {
  max-width: 90px;
  padding-left: 5px;
  padding-top: 30px;
}
.menu__logo-image_small {
  max-width: 70px;
  padding-left: 30px;
}
.menu__logo-title {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-style: italic;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.2em;
}
.tools {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tools__label {
  margin: 5px 0px ;
}
.tools__nick {
  color: #3f5062;
  text-decoration: underline;
  margin: 5px 0px;
}
.dialog:hover {
  box-shadow: 0px 0px 1px #3f5062;
}
.dialog {
  background-color: white;
  padding: 10px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  align-items: center;
  cursor: pointer;
}
.dialog__image-profile {
  max-width: 30px;
  padding-left: 5px;
}
.dialog_active {
  background-color: #3f5062;
  color: #fafafa;
}
.dialog__numb-message {
  background-color: #fb493f;
  width: 18px;
  text-align: center;
  border-radius: 10px;
  font-size: 0.8em;
  margin-top: -15px;
  margin-left: 10px;
}
.dialog__author {
  padding-left: 10px;
}
.dialog-container {
  overflow: auto;
  padding: 10px;
}
.search-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
}
