.inputs {
  display: flex;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
.inputs__label {
  width: 100%;
  margin-top: 12px;
  float: left;
}
.inputs__reg-btn {
  margin-top: 20px ;
  width: 150px;
  float: left;
}
.btn {
  border: 1px solid #b6b6b6;
  padding: 3px 8px;
  border-radius: 5px;
}
.btn-text {
  border-radius: 0px;
  border: 0px solid #3f5062;
  border-bottom: 1px solid #3f5062;
}
.btn-textarea:focus {
  outline: none;
}
.btn-textarea {
  border: 0.5px solid #ccc;
  width: 60%;
  max-width: 60%;
  min-width: 60%;
  max-height: 80px ;
}
.btn-text:focus {
  outline: none;
}
.btn-tex:hover {
  border: 1px solid #3f5062;
}
.btn-primal {
  text-align: center;
  border: 1px solid #3f5062;
  background-color: #3f5062;
  color: #ffffff;
}
